*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homenav-container nav a{
  display: block;
  margin-bottom: 20px;
  
  border-radius: 10px;
  padding: 10px;
  color: #CCCCCD;
}
.homenav-container nav a:hover{
  background-color: #15111E;
  color: #fff;
}