.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.arrow-container{
    display: flex;
    column-gap: 30px;
}
.search-container{
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: #fff;
    padding: 10px;
    width: 70%;
    border-radius: 20px;
}
.search{
    border: none;
    width: 100%;
}